.vertical-center {
    min-height: 100%; /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh;

    display: flex;
    align-items: center;
}

html,
body {
    background-color: #061857;
    color: #ffffff;
}

a,
a:hover,
a:focus,
a:active {
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.logo img {
    width: 275px;
    margin-bottom: 50px;
}
